{{> header}}
{{> navigation}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">
            <h2 class="titlebar">{{username}}</h2>
            <form action="#/create/chirp" method="post" id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>{{countChips}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}}
                followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#each chips}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#/user/details/{{author}}" class="chirp-author">{{author}}</a>
                        <span class="chirp-time">
                            {{#if isAuthor}}
                                <a href="#/delete/chirp/{{_id}}">delete</a>
                            {{/if}}
                            {{date}}
                        </span>
                    </div>
                    <p>{{text}}</p>
                </article>
            {{else}}
                <p>No chirps in database</p>
            {{/each}}
        </div>
    </div>
</section>
{{> footer}}