@model StudentsInCourseViewModel
@{
    ViewData["Title"] = $"Students in {Model.Courses.Name}";
}
<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Grade</th>
            @if (Model.Courses.EndDate < DateTime.UtcNow)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@(student.Grade == null ? "No grade" : student.Grade.ToString())</td>
                @if (Model.Courses.EndDate < DateTime.UtcNow)
                {
                    <td>
                        <form asp-action="GradesStrudent" asp-route-id="@Model.Courses.Id" method="post">
                            <input type="hidden" name="studentId" value="@student.Id"/>
                            <select name="grade" asp-items="@Html.GetEnumSelectList<Grade>()"></select>
                            <input type="submit" class="btn btn-default" value="Add Grade"/>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>